@import "tailwindcss";

body {
  background-color: #141623;
}

/* Nav */
.nav-bg {
  background-image: linear-gradient(to right, #151828, #181a24);
}

/* Hero */
.cta-button {
  /* 1) make a transparent border of whatever thickness you like */
  border: 2px solid transparent;
  /* 2) tell the border to come from a gradient and slice it at 100% */
  border-image-source: linear-gradient(
    to right,
    oklch(68.5% 0.169 237.323),
    oklch(51.8% 0.253 323.949)
  );
  border-image-slice: 1;
}

.cta-button::after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    oklch(68.5% 0.169 237.323),
    oklch(51.8% 0.253 323.949)
  );
  filter: blur(30px);
  z-index: -1;
}

/* Experience */
.card {
  background-image: linear-gradient(to right, #151828, #181a24);
}

/* Portfolio */
.grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-template-areas:
    "box-1 box-1 box-1 box-2 box-2"
    "box-1 box-1 box-1 box-4 box-4"
    "box-3 box-3 box-3 box-4 box-4";
}

.grid-item {
  /* overflow: hidden; */
}

.portfolio-card {
  background-image: linear-gradient(to bottom right, #151828, #181a24);
  opacity: 90%;
}
