$blue-base: #2e5da4;
$blue-secondary: #142832;
$blue-tertiary: #506482;
$blue-quaternary: #becdd2;
$gray-base: #757575;
$green-base: #008542;
$yellow-base: #ffa000;
$red-base: #d62839;
$orange-base: #ff7700;
